:root {
    --ColorBlack: #222831;
    --ColorWhite: #FFFFFF;
    --ColorBeige: #fafafa;
    --ColorGrey: #e0e0e0;
    --ColorBlue: #5072A7;
    --ColorDarkBlue: #385075;
    --ColorDarkGrey: #808080;
    --ColorLightGrey: #F1F1F1;
    --ColorLightBlue: #bceffc;
    --ColorYonderBlue: #5072A7;
    --FontLight: 'Light', Arial, Helvetica, sans-serif;
    --FontMedium: 'Medium', Arial, Helvetica, sans-serif;
    --FontSizeBig: '21px';
    --FontMediumWeight: 500;
    --FontBoldWeight: 600;
    --MaxWidth: 510px;
  }
  
  @font-face {
    font-family: Light;
    src: url("../fonts/Inter-Light.ttf") format("opentype");
  }
  
  @font-face {
    font-family: Medium;
    src: url("../fonts/Inter-Medium.ttf") format("opentype");
  }
  
  @font-face {
    font-family: Regular;
    src: url("../fonts/Inter-Regular.ttf") format("opentype");
  }
  
  body {
    max-width: var(--MaxWidth);
    margin: 0 auto auto auto;
    font-family: var(--FontMedium);
    font-size: 14px;
    color: var(--ColorBlack);
    background-color: var(--ColorBeige);
  }

  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: var(--MaxWidth);
    z-index: 1000;
  }

  .NavContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
    max-width: var(--MaxWidth);
    background-color: var(--ColorBeige);
    border-top: 1px solid var(--ColorLightGrey);
  }

.NavBox {
    width: 33%;
    text-align: center;
}
  
  h2 {
    font-weight: var(--FontMediumWeight);
    font-family: Medium;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: -10px;
  }
  
  article {
    clear: both;
    min-height: 100%;
    margin-top: 35px;
    overflow-y: auto;
    z-index: 2;
  }
  
  ::placeholder {
    color: var(--ColorBlack);
    font-family: var(--FontLight);
    letter-spacing: 1px;
    opacity: 1;
  }
  
  ::-ms-input-placeholder { 
    color: var(--ColorBlack);
    font-family: var(--FontLight);
    letter-spacing: 1px;
  }
  
  p {
    font-family: Light;
  }
  
  a {
    color: var(--ColorBlack);
    text-decoration: none;
  }
  
  .BlueLink {
    color: var(--ColorYonderBlue);
  }
  
  .FixedHeaderContainer {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    max-width: var(--MaxWidth);
    background-color: var(--ColorBeige);
    z-index: 1;
  }
  
  .GreyTitle {
    font-family: 'Light', Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: var(--ColorDarkGrey);
  }
  
  .MediumFont {
    font-family: var(--FontMedium);
  }
  
  .RegularFont {
    font-family: 'Regular', Arial, Helvetica, sans-serif;
  }
  
  .BlueFont {
    color: var(--ColorDarkBlue);
  }
  
  .NavigationIcon {
    float: right;
    height: 32px;
    width: 32px;
    padding-top: 12px;
    padding-right: 3px;
  }
  
  .PaddingTopSmall {
    padding-top: 6px;
  }
  
  .PaddingTopMedium {
    padding-top: 10px;
  }
  
  .Padding {
    padding: 10px;
  }