
/* --- FONTS --- */

:root {
    --ColorBlack: #222831;
    --ColorWhite: #FFFFFF;
    --ColorBeige: #fafafa;
    --ColorGrey: #e0e0e0;
    --ColorBlue: #5072A7;
    --ColorDarkBlue: #385075;
    --ColorDarkGrey: #808080;
    --ColorLightGrey: #F1F1F1;
    --ColorLightBlue: #bceffc;
    --ColorYonderBlue: #5072A7;
    --ColorDustyBlue: #8098bd;
    --FontLight: 'Light', Arial, Helvetica, sans-serif;
    --FontMedium: 'Medium', Arial, Helvetica, sans-serif;
    --FontRegular: 'Regular', Arial, Helvetica, sans-serif;
    --FontSizeBig: '21px';
    --FontMediumWeight: 500;
    --FontBoldWeight: 600;
    --MaxWidth: 510px;
  }
  
@font-face {
  font-family: Light;
  src: url("../fonts/Inter-Light.ttf") format("opentype");
}
  
@font-face {
  font-family: Medium;
  src: url("../fonts/Inter-Medium.ttf") format("opentype");
}
  
@font-face {
  font-family: Regular;
  src: url("../fonts/Inter-Regular.ttf") format("opentype");
}

.MediumFont {
  font-family: var(--FontMedium);
}
  
.RegularFont {
  font-family: var(--FontRegular);
}
  
 /* --- GENERAL --- */ 

body {
  max-width: var(--MaxWidth);
  margin: 0 auto auto auto;
  font-family: var(--FontMedium);
  font-size: 14px;
  color: var(--ColorBlack);
  background-color: var(--ColorBeige);
}

article {
  clear: both;
  min-height: 100%;
  overflow-y: auto;
  z-index: 2;
}

p {
  font-family: Light;
}
  
a {
  color: var(--ColorBlack);
  text-decoration: none;
}

h1 {
  font-size: 18px;
}
  
h2 {
  margin-top: 0;
  font-size: 12px;
  font-weight: normal;
  color: var(--ColorDarkGrey);
  line-height: 1.1;
}

::placeholder {
  color: var(--ColorBlack);
  font-family: var(--FontLight);
  letter-spacing: 1px;
  opacity: 1;
}
  
::-ms-input-placeholder { 
  color: var(--ColorBlack);
  font-family: var(--FontLight);
  letter-spacing: 1px;
}

li {
  list-style-position: inside; 
}

/* --- NAVIGATION --- */

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: var(--MaxWidth);
  z-index: 1000;
}

.NavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100%;
  max-width: var(--MaxWidth);
  background-color: var(--ColorBeige);
  border-top: 1px solid var(--ColorLightGrey);
}

.NavBox {
  width: 33%;
  text-align: center;
}

/* --- INFO --- */

#InfoContainer {
  padding: 10px;
}

.InfoTitle {
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: -10px;
  padding: 0 10px 0 10px;
}

.InfoText {
  padding-top: 0;
  padding: 0 10px 0 10px;
}  

/* --- FOOD CATEGORY --- */

.CategoryContainer {
  height: 100%;
  width: 100%;
  padding: 10px 20px 20px 20px;
}

.CategoryParentTitle {
  font-family: 'Medium';
  font-size: 16px;
  padding-top: 20px;
}

.CategoryTitle {
  display: inline-block;
  height: 30px;
  width: auto;
  margin: 10px 7px 0 0;
  padding: 10px 20px 0px 20px;
  font-family: 'Regular';
  font-size: 14px;
  background-color: var(--ColorLightGrey);
  border: 1px solid var(--ColorDarkGrey);
  border-radius: 5px;
}

/* --- FOOD ITEM TITLE --- */

.ItemCategoryContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  border-bottom: 0.5px solid var(--ColorGrey);
}

.ItemBack {
  float: right;
  height: 30px;
  width: 30px;
  padding-top: 15px;
}

.ItemCategoryTitle {
  font-family: 'Medium';
  font-size: 16px;
  line-height: 1.1;
  padding: 10px 0 0 0;
}

#ItemTitlesContainer {
  height: calc(100% - 50px - 40px - 80px);
  width: 100%;
  font-family: var(--FontLight);
  background-color: var(--ColorBeige);
}

.ItemSelection {
  height: 16px;
  border-bottom: 0.5px solid var(--ColorGrey);
  padding: 10px;
}

.ItemIcon {
  float: left;
  height: 18px;
  width: 18px;
  padding-right: 6px;
}

.ItemName {
  float: left;
  width: calc(100 - 30px);
}
    
.ItemCountServings {
  float: right;
  height: 16px;
  width: 16px;
  text-align: center;
  padding: 1px 1px 3px 1px;
  border-radius: 50%;
  background-color: var(--ColorLightGrey);
}

#ItemContainer {
  display: none;
}

#ItemContainerTop {
  display: flex;
  height: 110px;
  width: 100%;
  background-color: var(--ColorLightGrey);
  padding-bottom: 15px;
}

/* --- ITEM DETAIL --- */
    
#ItemContainerBottom {
  height: 190px;
  width: 100%;
  background-color: var(--ColorLightGrey);
}
    
#ItemBoxFirst {
  flex-grow: 0;
  width: 110px;
  padding-left: 20px;
  padding-right: 5px;
}
    
#ItemBoxSecond {
  flex-grow: 0;
  width: 75px;
  text-align: right;
  padding-top: 21px;
}
    
#ItemBoxThird {
  flex-grow: 1;
  text-align: left;
  padding-left: 30px;
}
    
#ItemBoxFirst p,
#ItemBoxSecond p,
#ItemBoxThird p {
  line-height: 0.5;
}
    
.ServingLink {
  color: var(--ColorBlue);
  cursor: pointer;  
}
    
.ServingSelected {
  color: var(--ColorBlack);
}

.SliderContainerLeft {
  float: left;
  height: 60px;
  width: 50px;
  margin: 0;
  line-height: 0.7;
  padding-left: 20px;
}
    
.SliderContainerRight {
  float: right;
  height: 36px;
  width: calc(100% - 70px - 20px);
  padding-top: 24px;
  padding-right: 20px;
}
    
.Slider {
  -webkit-appearance: none;
  height: 8px;
  width: 100%;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}
    
.SliderValue {
   margin-top: 0px;
}
    
.Slider::-webkit-slider-thumb {
   -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--ColorBlue);
  cursor: pointer;
}
    
.Slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--ColorBlue);
  cursor: pointer;
}
    
.ItemSliderValueContainer,
.ItemSliderFactorContainer,
.ItemSliderBolusContainer {
  text-align: center;
}